* {
    margin: 0;
    padding: 0;
}

body {
    display: grid;
    grid-template-columns: 200px 1fr;
    box-sizing: border-box;
    grid-template-areas: 
    "header header"
    "sidebar main"
    "footer footer";
}

.cabecalho{
    grid-area: header;
    background-color: goldenrod;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 1rem;
    border-bottom: 1px solid #000;
}

.cabecalho .logo img{
    max-width: 20%;
}

.cabecalho .menu {
    display: flex;
    gap: 1em;
    flex-direction: row;    
}

.cabecalho .menu a{
    color: #fff;
    text-decoration: none;
    font-weight: 700;
    font-size: 1.5em;
}
/*aqui é um comentário do marcelinho*/
.cabecalho .menu a:hover{
    color: #2E2E2E;
    border: 1px solid #fff;
    
}
/* barra lateral*/
.sidebar{
    grid-area: sidebar;
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 1rem;
    background-color: goldenrod;
    border-right: 1px solid #000;
}

.sidebar ul {
    list-style: none;
}

.sidebar ul li {
    text-decoration: none;
    font-size: 1.5rem;
    background-color: goldenrod;
    color: #fff;
}
.conteudo {
    background-color: #FAF9F6;
    grid-area: main;
}

.template-filmes {
    display: flex;
    flex-direction: row;
    justify-content: center; /* centraliza os cartões*/
    gap: 1.5em; /* espaço entre os cartões*/
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
}

.template-filmes .filmes{
    max-width: 20%;
}
.template-filmes .filmes img {
    max-width: 100%;
    height: auto; /* deixa as imagens na mesma altura*/
    object-fit: cover; /*corta a imagem para caber no espaço*/

}


.footer{
    grid-area: footer;
}
